img{
	line-height: 10px;
	align-self: left;
	vertical-align: middle;
	width: 300px;
        height: 300px;
}
.text{
	margin-left: 10px;
	display: inline-block;
	color: white;
	width: 500px;
	height:200px;
}
h1{
	color: white;
}
